.idea
config.core.php
node_modules
vue/node_modules
core/components/yandexmarket2/vendor
core/components/yandexmarket2/phpunit.xml
core/components/yandexmarket2/tests/properties.inc.php
core/components/yandexmarket2/tests/logs
assets/components/yandexmarket2/mgr
dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
