$body-font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
$font-size-root: 14px;
$treeview-node-height-dense: 28px;
$treeview-node-level-width: 24px;
$toolbar-btn-icon-size: 32px;
$card-title-font-size: 1rem;
$card-subtitle-padding: 12px 16px 8px;
$input-font-size: 15px;
$label-font-size: 15px;
$btn-text-transform: none;
$btn-letter-spacing: initial;
$tabs-item-letter-spacing: initial;